<h3>Total Play Time (past 2 weeks): {{twoWeekTotalHours}} hours</h3>

{{#if gameOnePercentage}}
<h4>{{recentGames.0.name}} - {{gameOnePercentage}}%</h4>
{{/if}}

{{#if gameTwoPercentage}}
<h4>{{recentGames.1.name}} - {{gameTwoPercentage}}%</h4>
{{/if}}

{{#if gameThreePercentage}}
<h4>{{recentGames.2.name}} - {{gameThreePercentage}}%</h4>
{{/if}}
