<div class="container">
  <div class="row">
    <div class="col-md-6 description here">
        <h1>{{model.name}}</h1>

      <img src={{model.header_image}}>
      <br>
      <div class="test">{{{model.detailed_description}}}</div>
    </div>


    <div class="col-md-4 col-md-offset-2 game-info">
      <h2>Score: {{model.metacritic.score}}</h2>
      <h2>Platforms:</h2>
      <h3>
        {{#if model.platforms.linux}}
          Linux: <b class="glyphicon glyphicon-ok"></b>
          <br>
          {{else}}
          Linux: <b class="glyphicon glyphicon-remove"></b>
          <br>
        {{/if}}
        {{#if model.platforms.mac}}
          Mac: <b class="glyphicon glyphicon-ok"></b>
          <br>
          {{else}}
          Mac: <b class="glyphicon glyphicon-remove"></b>
          <br>
        {{/if}}
        {{#if model.platforms.windows}}
          Windows: <b class="glyphicon glyphicon-ok"></b>
          <br>
          {{else}}
          Windows: <b class="glyphicon glyphicon-remove"></b>
          <br>
        {{/if}}
      </h3>

      <h4>Required:</h4>
        <h5>
          <ul>
            <div class="requirements"><div class="hideImg">{{{model.pc_requirements.minimum}}}</div></div>
          </ul>
        </h5>
      <h4>Released: {{model.release_date.date}}</h4>
    </div>
  </div>
  <hr>
  <a href = {{model.website}}>Main Page</a> <a href= "http://store.steampowered.com/app/"{{model.steam_appid}}>Steam Page</a>
</div>
