{{#if model.allGames.games.length}}

  <div class="row">
    <div class="user-data col-xs-4">
      <div class="user-box">
        <h1>{{model.user.personaname}}</h1>
        <h4>Steam ID: {{model.user.steamid}}</h4>
        {{#if model.user.gameextrainfo}}
        <h4>IN GAME: {{model.user.gameextrainfo}}</h4>
        {{/if}}
        <h4>{{get-online-status user=model.user}}</h4>
        <h4>Member since {{get-time-created user=model.user}}</h4>
        <img src={{model.user.avatarfull}}>
        <h4>{{#if model.user.locstatecode}} Location: {{model.user.locstatecode}}{{#if model.user.loccountrycode}}, {{model.user.loccountrycode}}{{/if}}{{else}} {{model.user.loccountrycode}}{{/if}}</h4>
        {{#link-to 'all-friends' model.user.steamid }}
         <button class="btn btn-default">View Friends <b class="glyphicon glyphicon-user"></b></button>
        {{/link-to}}
      </div>
    </div>

    <div class="shame-box col-xs-8">
      {{user-gamelibrary model=model.allGames}}
    </div>
  </div>

  <div class="row all-charts">
    <div class="col-xs-4 recent-games-data">
      {{data-chart recentGames=model.recentGames}}
    </div>
    <div class="two-weeks-data col-xs-4">
      {{two-week-data recentGames=model.recentGames}}
      {{#each model.recentGames as |recentGame|}}
        <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{recentGame.appid}}/{{recentGame.img_logo_url}}.jpg">
      {{/each}}
    </div>
    <div class="col-xs-4 top-games-data">
      {{top-games-chart allGames=model.allGames}}
    </div>
  </div>

{{else}}
  <h2>Sorry, that profile is set to Private!</h2>
  <br>
  {{#link-to 'userid-search'}}<button class="btn btn-success">Back</button>{{/link-to}}
{{/if}}
